@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Clash;
  src: url('/fonts/ClashDisplay-Variable.ttf') format("truetype-variations");
}


@font-face {
  font-family: Nanum Myeongjo;
  src: url('/fonts/public/fonts/NanumMyeongjo-Regular.ttf') format("truetype-variations");
}

.nanum {
  font-family: Nanum Myeongjo, serif !important;
}

.anybody {
  font-family: Clash, sans-serif !important;
}

/* @layer base{
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
